* {
    box-sizing: border-box;
}

body {
    font-size: 17px;
    font-size: inherit;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

label {
    font-weight: 600;
}

form {
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    padding: 30px;
}

.field {
    border: 5px;
    margin-bottom: 15px;
    position: relative;

}

.field_opp {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.two_fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px;
}

input {
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid #dadce0;
    padding: 10px;
    border-radius: 5px;
    font-size: inherit;
    opacity: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ui_fluid_dropdown {
    height: 50px;
    width: 50%;
    outline: none;
    border: 1px solid #dadce0;
    padding: 10px;
    border-radius: 5px;
    font-size: inherit;
    opacity: 50%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.field_text {
    height: 50px;
    width: 50%;
    outline: none;
    border: 1px solid #dadce0;
    padding: 10px;
    border-radius: 5px;
    font-size: inherit;
    opacity: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sum_opption {
    display: flex;
    flex-flow: row;

}

#Card {
    width: 100%;
}

.one_fields,
.two_fields {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.group_field {
    display: flex;
    gap: 1em
        /* khoảng cách giữa phần tử */

}

.one_fields {
    margin-bottom: 30px;

}

.field_text {
    width: 100%;
}

.two_fields .field_text_70 {
    flex: 2 !important;
}

.two_fields .field_text_30 {
    flex: 1 !important;
}

.line {
    display: flex;
    flex-direction: row;
}

#linetwo {
    margin-left: 700px;
}

.sum_opption {
    gap: 1em;
}

.end {
    margin-top: 18px;
}

input.btn_submit {
    opacity: 100%;
    border: 2px solid #e81a5b;
    background: #1a73e8;
    color: black;
    height: 50px;
    width: 200px;
}

input.btn_submit:hover {
    opacity: 90%;
}

.ui_segment {
    display: flex;
    flex-direction: row;
    border: 1px solid #dadce0;
    border-radius: 5px;
    align-items: center;

}

.crad_number {
    width: 600px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.ui_toggle_checkbox{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.slider.round{
    margin-top: 2px;
    margin-left: 5px;
    padding: 5px;
    border: 2px solid #1a73e8;
}